body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.8rem;
  margin: 10px 0 5px 0;
}

.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items:center;
}

#clickMe {
  padding: 0.5rem 1rem;
  background: rgb(87, 35, 123);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#clickMe:hover {
  background: indigo;
}