/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/

header,
footer,
main,
section {
  border: 1px solid black;
  height: 100px;
}

main,
section {
  height:200px;
}

main {
  display:flex;
}

section {
  flex:1;
}

.bigBox {
  flex:2;
}