/* Please Make only Rhino and Zebra Blue */
/* could also use .fourLegs or .africa instead of .top h2 */
.top h2 {
    color:blue;
}

/* Please Make only Hufflepuff Gold */
#bestHouse {
    color:gold;
}

/* Please select Duck with the highest level of specificity possible 
Specificity Weight: 1158
*/
html head + body h1#hi + section.top + section.middle + article.areDucksDinosaurs h2.likesToQuack.fight1Or100 {
    color:green !important;
}

/* Please select Rhino with the highest level of specificity possible 
Specificity Weight: 1236
*/
html head + body h1#hi + section.top h2#rhino.africa.fourLegs {
    color:pink !important;
}